<header>
    <div class="header-content">
        <div class="logo-container">
            <img src="images/logo-green.png" alt="惑星トントン" class="logo-img">
        </div>
        <div class="banner-glow">
            <p class="tagline">>> OFFICIAL HOME PAGE <<<</p>
        </div>
        <div class="under-construction">
            <img src="data:image/gif;base64,R0lGODlhMgAyAIAAAP///wAAACH5BAEAAAAALAAAAAAyADIAAAJIhI+py+0Po5y02ouz3rz7D4biSJbmiabryrJsO8fxTEP5zgf//wCCgoOEhYaHiImKi4yNjo+QkZKTlJWWl5iZmpucnZ6foKGio6SlpqcoKAkA" alt="under construction" class="construct-gif">
            <span>[!!!UNDER CONSTRUCTION!!!]</span>
        </div>
    </div>
</header>
