<section id="top" class="section top-section">
    <div class="content-box">
        <div class="welcome-flex">
            <div class="welcome-copy">
                <h2>[WELCOME]</h2>
                <p class="welcome-text">
                    TOKYO-BASED BAND<br>
                    <span class="highlight">[*TONGTONG*]</span> OFFICIAL SITE<br>
                    <br>
                    WE ARE SEARCHING FOR NEW SOUNDS<br>
                    >>> LATEST TRACK "KOKO-DENAI-DOKOKA-E" NOW ON ALL PLATFORMS <<<
                </p>
            </div>
            <div class="mascot-wrap">
                <img src="images/mascot-alien-a.png" alt="惑星トントン イメージキャラクター" class="mascot-img mascot-img-base">
                <img src="images/mascot-alien-b.png" alt="" class="mascot-img mascot-img-blink" aria-hidden="true">
            </div>
        </div>
        <div class="news-box">
            <img src="images/logo-mintgreen.png" alt="" class="sticker sticker-news" aria-hidden="true">
            <h3>[NEWS]</h3>
            <ul>
                <li>>> "KOKO-DENAI-DOKOKA-E" AVAILABLE NOW!</li>
                <li>>> NEW TRACK IN PRODUCTION...</li>
                <li>>> LIVE INFO COMING SOON...</li>
            </ul>
        </div>
    </div>
</section>
